*.htaccess
*.swo
*.swp
*/error_log
./birdfinder/.htaccess
./birdfinder/interface/.htaccess
./birdfinder/cache/*
./birdfindermanager/cache/*
./bob/sites/default/settings.php
birdfindermanager/config/databases.yml
